{% extends "base.html" %} {% load static %} {% block content %} {% comment %}
<img src={% static "images/construction.gif" %} alt="under construction"
style="display: block; margin: auto; width: 50%;" />
<p style="text-align: center">
  If you find any debris or trash please feed it to the raccoon.
</p>
{% endcomment %}

<br />
<section class="intro">
  <p>
    Are <span style="text-decoration: underline">YOU</span> ready to step into a
    world cloaked in <em>intrigue</em> and <em>hidden power</em>?
  </p>
  <p>
    <strong><span style="color: #880808">Shadow Sanctum</span></strong> calls to
    those who seek more than a mere existence.
  </p>
  <p>
    We invite you to become part of an ancient brotherhood shrouded in mystery
    and honor.
  </p>
  <p>
    Here, in the eternal embrace of shadows, we forge warriors, artisans, and
    mystics who dwell in the art of the unseen!
  </p>
</section>

<img src={% static "images/sanctum-green.png" %} alt="Shadow Sanctum Green Logo"
style="display: block; margin: auto; width: 50%;" />

<section class="clan-info">
  <h2>Clan Info</h2>
  <ul>
    <li><strong>Founded:</strong> November 30th, 2024</li>
    <li><strong>Members:</strong> 122</li>
    <li><strong>Citadel:</strong> Tier 5 (Created December 1st)</li>
    <li><strong>Discord:</strong> Active and fully functional</li>
    <li>
      <strong>Requirements:</strong> No skill requirements, 18+ mature members
      preferred
    </li>
  </ul>
</section>

<section class="features">
  <h2>Why Join Us In the Shadows?</h2>
  <ul>
    <li>Group PvM Events!</li>
    <li>Capping Raffles!</li>
    <li>Drop Parties!</li>
    <li>Clan Events!</li>
    <li>Teaching Events!</li>
  </ul>
  <p>We’re a good social group, looking to grow into a community of our own!</p>
  <p>No strict or mandatory requirements for ranks or participation!</p>
  <p>
    We’re all here to have a good time, enjoy good chat on Discord, and keep it
    laid back.
  </p>
</section>

<section class="join">
  <h2>How to Join</h2>
  <p>
    If you're interested in joining our awesome clan hidden in the shadows,
    please reach out to one of our staff members either on Discord or in-game:
  </p>
  <ul>
    <li><strong>Big Raccoon</strong> | @Big Raccoon</li>
    <li><strong>DamnedMadam</strong> | @the.damned.</li>
    <li><strong>Kheprizix</strong> | @kheprizix</li>
    <li><strong>TheAssassin3</strong> | @TheAssassin3</li>
  </ul>
</section>
<section>
  <div class="discord-invite-box">
    <div>
      <h3>Join Shadow Sanctum's Clan Discord Today</h3>
      <p>
        Stay connected, join events, chat with clanmates, and be part of our
        growing community. Whether you're here for the camaraderie, the events,
        or just a cool clan to call home — we've got a place for you.
      </p>
      <p class="discord-invite-link">
        <a href="https://discord.gg/QFm4BSawMu">CLICK HERE TO JOIN</a>
      </p>
    </div>
    <div>
      <img src="{% static "images/discord-icon.png" %}" alt="Discord Icon"
      width="64" height="64" />
    </div>
  </div>
</section>

<img src={% static "images/sanctum.png" %} alt="Shadow Sanctum Logo"
style="display: block; margin: auto; width: 50%;" />

<br />

{% endblock %}
