/* body {
  background-color: rgb(24, 29, 39);
  color: rgb(193, 202, 210);
} */

/* Reset some basic styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #0d0d0d; */
  background-color: rgb(24, 29, 39);
  color: #f2f2f2;
  padding: 20px;
  line-height: 1.6;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #00e5ff;
}

h2,
h3 {
  text-align: center;
  color: #00e5ff;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #e0e0e0;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

table {
  width: 100%;
  /* border-collapse: collapse; */
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #333;
}

th {
  background-color: #333;
  color: #ffffff;
}

td {
  color: #dddddd;
}

tr:nth-child(even) td {
  background-color: #2a2a2a;
}

tr:hover td {
  background-color: #444;
}

main {
  max-width: 800px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #ff9800;
}

nav {
  text-align: center;
}

.discord-invite-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #7289da; /* Discord blurple */
  padding: 20px;
  margin: 30px 0;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.discord-invite-box h3 {
  margin-top: 0;
  color: #333;
}

.discord-invite-box p {
  margin: 5px 0;
}

.discord-invite-box a {
  color: #7289da;
  font-weight: bold;
  text-decoration: none;
}

.discord-invite-box a:hover {
  text-decoration: underline;
}

.discord-invite-box img {
  margin-left: 20px;
}

.discord-invite-link {
  text-align: center;
}

.discord-invite-box p {
  color: #444;
}
